Subject: Reset your password for {{ site_name }}

Hi {{ user.get_username }},

We received a request to reset the password for your account on **{{ site_name }}**.

If you made this request, click the link below to reset your password:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If the above link doesn't work, copy and paste it into your browser's address bar.

Your username is: **{{ user.get_username }}**

If you didn't request a password reset, please ignore this email. Your password will remain unchanged.

Thanks,  
The {{ site_name }} Team

# touched on 2025-06-13T18:49:54.503104Z
# touched on 2025-06-13T18:51:11.599141Z